<%- include('../partials/top')  %> 
    <h1>Edit An Entry</h1>
    <div class="row">
        <form class="col s12" action="/admin/edit/<%= entry._id %> " method="POST">
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="Enter Title Here..." id="title" name="title" type="text" value="<%= entry.title %> ">
              <label for="title">Title</label>
            </div>
            <div class="input-field col s12">
              <textarea name="description" id="description" class="materialize-textarea"><%= entry.description %> </textarea>
              <label for="description">Description</label>
            </div>
          </div>
          <button class="btn purple">Publish</button>
        </form>
      </div>
    <%- include('../partials/bottom')  %> 