<%- include('../partials/top')  %> 
    <h1>Admin</h1>
    <a href="/admin/add" class="flow-text purple-text">Add An Entry</a>
    <h2>All Entries</h2>
    <% for( let index = 0; index < entries.length; index++ ) { %>
        <div class="row">
        <div class="flow-text col s8"><%= entries[index].title %></div>
        <a class="btn col s2" href="/admin/edit/<%= entries[index]._id %> ">Edit</a>
        <form action="/admin/delete/<%= entries[index]._id %>?_method=DELETE" method="POST" class="col s2">
            <button class="btn purple">Delete</button>
        </form>
        </div> 
    <% } %>
<%- include('../partials/bottom')  %> 